/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} */

h2 {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f5f6;
} 

.wrapper {
    background-color: white;
    max-width: 1300px;
    padding: 0;
}

/* .col-3 {
    width: 1200px;
} */

/* NAVBAR */

.navbar {
    background-color: #f72210;
}

.navbar-brand img {
   height: 60px;
   width: 395px;
}

.time {
    margin-top: 30px;
}

.time time {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 34px;
}

.nw-btn {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 14px;
    padding: 6px 12px;
}

.nw-btn:hover {
    color: white;
    text-decoration: none;
}

.nw-btn-white {
    background-color: white;
    color: #f72210;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 14px;
    padding: 6px 12px;
}

.nw-btn-white:hover {
    color: #f72210;
    text-decoration: none;
}


.navbar-right {
    margin-top: 25px;
}

.bottom-nav {
    border-bottom: 1px solid lightgrey;
}

.bottom-nav ul {
    align-items: center;
    clear: both;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    max-width: 1250px;
}

.bottom-nav ul li {
    border-left: 1px solid lightgrey;
    display: inline-block;
    padding: 0 25px;
}

.bottom-nav ul li a {
    color: black;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

#navListFirst {
    border: none;
}

.bottom-nav::before {
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
    content: "";
    display: block;
    float: right;
    margin-top: -15px;
    position: relative;
    width: 66px;
}

.bottom-nav {
    margin-bottom: 30px;
}

/*Main content top left*/

.FSH2 {
    color: #030303;
    font-size: 16px;
    line-height: 16px;
    opacity: 0.4;
}

/* .article1-figure {
    max-width: 342px;
} */


.article1-img {
    width: 100%;
    padding-bottom: 10px;
}

.article1-h2 {
    font-size: 24px;
    line-height: 24px;
    text-align: start;
}

.article1-p {
    color: #333333;
    font-size: 15px;
    line-height: 20px;
    text-align: start;
    width: 100%;
}

/* Main content top middle */

.article2-img {
    padding-bottom: 10px;
    width: 100%;
}

/* .article2-figure {
    max-width: 506px;
} */

.article3-img {
    float: left;
    height: 90px;
    padding-right: 15px;
    width: 135px;
}

.article3-figure {
    display: flex;
    flex-direction: row;
    /* max-width: 506px; */
}

.article3-h2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}

.article3-p {
    color: #333333;
    font-size: 15px;
    line-height: 20px;
}

.article3-section {
    border-top: 1px solid lightgray;
    padding-top: 15px;
}

.article4-figure {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
}

#article4-lastfigure {
    border: none;
}

.article4-img {
    height: 63px;
    padding-right: 15px;
}

.article4-author {
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 7px;
    margin-top: -3px;
}

.article5-figure {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.article5-img {
    height: 90px;
    padding-right: 15px;
}

/* IN THE MAGAZINE */

.magazine1-img {
    width: 100%;
}

.magazine1-figure figcaption {
    background-color: #f4f5f6;
    padding: 10px 10px 10px 12px;
    text-align: center;
    width: 100%;
}

.magazine1-figure figcaption a {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    width: 100%;

}

.magazine1-figure figcaption a:hover {
    text-decoration: none;
}

.magazine1-figure figcaption:hover {
    background-color: #dbdcdd;
}

.magazine-logo {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 34px;
    padding-bottom: 8px;
}

.magazine-header {
    color: #333333;
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    margin-left: 5px;
    margin-top: 5px;
}

.Nlogo {
    background-color: #f72210;
    height: 28px;
    width: 29px;
}

@media only screen and (max-width: 768px) {
    .magazine-logo {
        border-bottom: 0;
        margin-bottom: 5px;
        margin-top: 10px;
    }
}

.magazine2-img {
    width: 100%;
}

.magazine2-toplink {
    display: flex;
    flex-direction: row;
}

.magazine2-toplink p {
    background-color: #f72210;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin-right: 7px;
    padding: 0 7px;
}

.magazine2-toplink a {
    background-color: white;
    color: #f72210;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}

.magazine-bottomlink {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
}

.magazine-bottomlink:hover {
   text-decoration: underline;
   text-decoration-color: #f72210;
}

/* EDITORS PICK */

.editors-logo {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-bottom: 8px;
}

.editors-img {
    margin-bottom: 10px;
    width: 100%;
}

.editors-figure figcaption a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

.editors-figure figcaption a:hover {
    text-decoration: underline;
    text-decoration-color: #f72210;
 }

 .editors-figure figcaption p {
    color: #333333;
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px;
}